h1.selector{
    font-style: italic;
    background-color: blue;
    font-size: 50px;
    text-align: center;
}
li{
    font-style: oblique;
}

.selector{
    font-size: 50px;
}
#good{
    color: brown;
}

div>p{
   
    color: aqua;

}